<?xml version="1.0"?>
<configuration>
<system.web>
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Type" value="text/html; charset=UTF-8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
    <connectionStrings>
        <add name="MiConexion" 
        connectionString="Data Source=localhost;Initial Catalog=SASFINAL;
        User ID=sa;
        Password=1234;" 
        providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

